:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff6464aa);
}

a:hover {
  color: #f25363;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

form > input{
  width: 100%;
  height: 50px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

.pokemon-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.pokemon-list li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

.pokemon-list li:hover {
  background-color: #ccc;
}

.pokemon-card {
  display: flex;
  align-items: flex-start;
  width: 700px;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pokemon-card > .main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
}

.pokemon-card > .main-info > img {
  width: 100px;
  height: 100px;
}

.pokemon-card > .stats {
  text-align: start;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  
}

@media screen and (max-width: 768px) {
  .pokemon-card {
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    }  
}